---
import Layout from "../../layouts/Layout.astro";
import readXlsxFile from "read-excel-file/web-worker";
import Loader from "../../components/shared/Loader.astro";
import abaUpdater from "../../libs/abaUpdater.js";

const schema = {
  Nrpname: { prop: "nrpname", type: String, required: true },
  Location: { prop: "location", type: String, required: true },
  DSLAMIP: { prop: "ip", type: String, required: true },
  VPI: { prop: "vpi", type: Number, required: true },
  "Name Coid": { prop: "central", type: String, required: true },
  Coid: { prop: "coid", type: String, required: true },
  Downstream: { prop: "plan", type: Number, required: true },
  Status: { prop: "status", type: String, required: true },
  Cantidad: { prop: "clients", type: Number, required: true },
};

let error = "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const report = data.get("report") as File;
    const docs = await readXlsxFile(report, { schema }).then(
      ({ errors, rows }) => {
        if (errors && errors.length > 0) {
          error += `Error: Column ${errors[0].column} - ${errors[0].error}`;
        }
        return rows;
      }
    );
    if (docs && docs.length > 0) await abaUpdater(docs);
  } catch (err) {
    error += err;
  }
}
---

<Layout title="Admin: aba">
  <main>
    {error && <small>{error}</small>}
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="report" id="report" />
      <input id="submit" type="submit" />
    </form>
    <div
      id="loader"
      style="display: none;"
      class="w-screen h-screen bg-[rgba(0,0,0,0.7)] fixed top-0 z-10 backdrop-blur-sm flex justify-center items-center"
    >
      <Loader />
    </div>
  </main>
</Layout>

<script>
  const button = document.getElementById("submit");
  const loader = document.getElementById("loader");
  button.addEventListener("click", () => {
    loader.style.display = "block";
  });
</script>
